:root {
    --ifm-color-primary: #89a62e;
    --ifm-color-primary-dark: #7b9529;
    --ifm-color-primary-darker: #748d27;
    --ifm-color-primary-darkest: #607420;
    --ifm-color-primary-light: #97b733;
    --ifm-color-primary-lighter: #9ebf35;
    --ifm-color-primary-lightest: #accc47;
}
