.docPage {
    display: flex;
}

.docSidebarContainer {
    border-right: 1px solid var(--ifm-toc-border-color);
    box-sizing: border-box;
    width: 300px;
    position: relative;
    margin-top: calc(-1 * var(--ifm-navbar-height));
}

.docMainContainer {
    flex-grow: 1;
}

@media (max-width: 996px) {
    .docPage {
        display: inherit;
    }

    .docSidebarContainer {
        margin-top: 0;
    }
}
